<?xml version="1.0" standalone="yes"?>
<ProjectsToScanDataSet xmlns="http://tempuri.org/ProjectsToScanDataSet.xsd">
  <Projects>
    <AuditProvider>Code Auditor</AuditProvider>
    <Name>VeParser</Name>
    <ProjectFile>C:\Sam\projects\sam-veparser\src\VeParser\VeParser.csproj</ProjectFile>
    <ProjectType>Win</ProjectType>
    <ProjectPath>C:\Sam\projects\sam-veparser\src\VeParser</ProjectPath>
    <AssemblyFile>C:\Sam\projects\sam-veparser\src\VeParser\bin\Release\VeParser.dll</AssemblyFile>
    <WebPath />
    <WebStartPage />
  </Projects>
</ProjectsToScanDataSet>